{% extends 'base.html' %}


{% block body %}



  <div class="main">
    <div class="container">
      <!-- BEGIN SIDEBAR & CONTENT -->
      <div class="row margin-bottom-40">
        <!-- BEGIN SIDEBAR -->
        <div class="row margin-bottom-40 ">
            <!-- BEGIN SIDEBAR -->
            <div class="sidebar col-md-3 col-sm-4">
              <ul class="list-group margin-bottom-25 sidebar-menu">
                <li><h4>Categories</h4></li>
                <a href="{% url 'products:index' %}"><h4>All</h4>
                {%for c in categories %}
                  {% if category == c.slug %} {% endif %}
                    <li class="list-group-item clearfix dropdown "><a href="{% url 'products:index'%}?q={{c.slug}}"><i class="fa fa-angle-right"></i>{{c}}</a></li>
                {% endfor %}
              </ul>
          <div class="sidebar-filter margin-bottom-25">
            <h2>Filter</h2>
            <h3>Availability</h3>
            <div class="checkbox-list">
              <label><input type="checkbox"> Not Available (3)</label>
              <label><input type="checkbox"> In Stock (26)</label>
            </div>

            <h3>Price</h3>
            <p>
              <label for="amount">Range:</label>
              <input type="text" id="amount" style="border:0; color:#f6931f; font-weight:bold;">
            </p>
            <div id="slider-range"></div>
          </div>
        </div>
        <!-- END SIDEBAR -->
        <!-- BEGIN CONTENT -->
        <div class="col-md-9 col-sm-7">
          <div class="row list-view-sorting clearfix">
            <div class="col-md-2 col-sm-2 list-view">
              <a href="javascript:;"><i class="fa fa-th-large"></i></a>
              <a href="javascript:;"><i class="fa fa-th-list"></i></a>
            </div>
            <div class="col-md-10 col-sm-10">
              <div class="pull-right">
                <label class="control-label">Show:</label>
                <select class="form-control input-sm">
                  <option><a href="{% url 'products:index'%}?show=25"></a>25</option>
                  <option><a href="{% url 'products:index'%}?show=50"></a>50</option>
                  <option><a href="{% url 'products:index'%}?show=75"></a>75</option>
                  <option><a href="{% url 'products:index'%}?show=100"></a>100</option>
                </select>
              </div>
              <div class="pull-right">
                <label class="control-label">Sort&nbsp;By:</label>
                <select class="form-control input-sm">
                  <option value="#?sort=p.sort_order&amp;order=ASC" selected="selected">Default</option>
                  <option value="#?sort=pd.name&amp;order=ASC">Name (A - Z)</option>
                  <option value="#?sort=pd.name&amp;order=DESC">Name (Z - A)</option>
                  <option value="#?sort=p.price&amp;order=ASC">Price (Low &gt; High)</option>
                  <option value="#?sort=p.price&amp;order=DESC">Price (High &gt; Low)</option>
                  <option value="#?sort=rating&amp;order=DESC">Rating (Highest)</option>
                  <option value="#?sort=rating&amp;order=ASC">Rating (Lowest)</option>
                  <option value="#?sort=p.model&amp;order=ASC">Model (A - Z)</option>
                  <option value="#?sort=p.model&amp;order=DESC">Model (Z - A)</option>
                </select>
              </div>
            </div>
          </div>
          <!-- BEGIN PRODUCT LIST -->
          <div class="row product-list">
            <!-- PRODUCT ITEM START -->
            {% for product in products%}
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="product-item">
                  <div class="pi-img-wrapper">
                    <img src="{{product.image.url}}" style="width:300px;height:250px;" class="img-responsive" alt="Berry Lace Dress">
                    <div>
                      <a href="{{product.image.url}}" class="btn btn-default fancybox-button">Zoom</a>
                      <a href="{% url 'products:product_detail' product.category.slug product.slug %}" class="btn btn-default fancybox-fast-view">View</a>
                    </div>
                  </div>
                  <h3><a href="{% url 'products:product_detail' product.category.slug product.slug %}">{{product}}</a></h3>
                  <div class="pi-price">{{product.price}}</div>
                    <form action="{% url 'cart:cart_add' product.id %}" method="post">
                      {{ cart_product_form }}
                        {% csrf_token %}
                      <input type="submit" class="btn btn-default add2cart" value="Add to cart">
                  </form>
                  {% comment %} <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a> {% endcomment %}
                </div>
              </div>
            {% endfor %}

            <!-- PRODUCT ITEM END -->        
          </div>

          <!-- END PRODUCT LIST -->
          <!-- BEGIN PAGINATOR -->
          <div class="row">
            <div class="col-md-6 col-sm-8">
              <ul class="pagination pull-right">
                {% if products.has_previous %}
                <li><a href="?page={{ products.previous_page_number }}">&laquo;</a></li>
                {% endif %}
                <li><span>Page {{ products.number }}of {{ products.paginator.num_pages }} Pages</span></li>
                {% if products.has_next %}
                <li><a href="?page={{ products.next_page_number }}">&raquo;</a></li>
                {% endif %}
              </ul>
            </div>
          </div>
          <!-- END PAGINATOR -->
        </div>
        <!-- END CONTENT -->
      </div>
      <!-- END SIDEBAR & CONTENT -->
    </div>
  </div>

{% endblock body %}